:root {
  --primary: #003087;
  --accent: #d4af37;
  --dark: #111;
  --light: #f8f8f8;
  --gray: #555;
}
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ccc;
}
.container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}
/* Header */
header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* Logo and navigation */
.logo {
  min-width: 70px;
  max-width: 200px;
}
.logo-nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--primary);
  color: var(--light);
  width: 100%;
  padding: 20px;
  height: 50px;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 50px;
  flex: 1 1 0;
}
.navbar > ul > li {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}
.navbar > ul > li > a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  flex: 1 1 0;
}
.navbar > ul > li > a:hover {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
  transition: all 0.5s ease;
}
.navbar li {
  margin: 0 10px;
  list-style: none;
}
.navbar li > a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  height: 50px;
}
/* hero */
.hero {
  width: 100%;
  height: 300px;
  background: url("./img/hero.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.hero-det {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 50px;
}
.hero-det > h1 {
  font-size: 3.5rem;
}
.hero-det > p {
  font-weight: bold;
  font-size: 2rem;
}
.hero-det > span {
  margin-top: 20px;
}
.hero-det > span > button {
  margin: 0 10px;
  padding: 20px 35px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--primary);
  transition: all 0.5s ease;
}
.hero-det > span > button > a {
  text-decoration: none;
  color: var(--light);
}
.hero-det > span > .contact-btn {
  background-color: var(--accent);
}
.hero-det > span > .contact-btn:hover {
  background-color: var(--primary);
}
.hero-det > span > .explore-btn:hover {
  background-color: var(--accent);
}
/* Main */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "about-us about-us about-us about-us"
    "sectors sectors sectors sectors"
    "projects projects projects projects"
    "teams teams teams teams"
    "contact contact contact contact";
  margin: auto;
  text-align: center;
}
/* about-us */
.about-us {
  grid-area: about-us;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light);
  padding: 20px;
  margin: auto;
  flex: 1 1 0;
}
.abt {
  width: 70%;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light);
  padding: 20px;
  margin: auto;
}
.abt > h2 {
  color: var(--primary);
  margin: 10px 0;
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 4px solid var(--accent);
  padding: 20px;
}
#about-details {
  width: 70%;
  margin: 20px 0;
  font-weight: 500;
  font-size: 1.2rem;
}
.mvc {
  display: flex;
  flex: 1 1 0;
  gap: 20px;
  margin: 50px 0;
}
.our-mission,
.our-vision,
.core-values {
  border-radius: 20px;
  background-color: var(--light);
  color: var(--gray);
  padding: 20px;
  box-shadow: 0px 0px 10px 0px#555;
}
.our-mission > i,
.our-vision > i,
.core-values > i {
  font-size: 3rem;
  color: var(--accent);
  margin: 10px 0;
}
.our-mission > h3,
.our-vision > h3,
.core-values > h3 {
  color: var(--primary);
  margin: 10px 0;
  font-size: 1.5rem;
}
/* sectors */
.sectors {
  grid-area: sectors;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  flex: 1 1 0;
}
.sectors > h2 {
  color: var(--primary);
  margin: 10px 0;
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 4px solid var(--accent);
  padding: 20px;
}
.sct {
  width: 70%;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 50px 0;
  gap: 20px;
}
.sct > div {
  border-radius: 20px;
  background-color: var(--light);
  color: var(--gray);
  padding: 20px;
  box-shadow: 0px 0px 10px 0px#555;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sct > div > i {
  font-size: 3rem;
  color: var(--accent);
  margin: 10px 0;
}
/* projects */
.projects {
  grid-area: projects;
  background-color: var(--light);
  padding: 20px;
  /* max-width: 100%; */
  width: 100%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.projects > h2 {
  color: var(--primary);
  margin: 10px 0;
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 4px solid var(--accent);
  padding: 20px;
}
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  width: 70%;
  margin-top: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
/* teams */
.teams {
  grid-area: teams;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  flex: 1 1 0;
}
.teams > h2 {
  color: var(--primary);
  margin: 10px 0;
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 4px solid var(--accent);
  padding: 20px;
}
.teams-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 70%;
  flex: 1 1 0;
  gap: 20px;
}
.card-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  max-width: 20%;
  background: var(--light);
  border-radius: 20px;
  padding: 20px;
  height: 400px;
  box-shadow: 0px 0px 10px 0px#555;
}
.card-item .team-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 3px solid var(--accent);
  padding: 4px;
}
/* contact */
.contact {
  grid-area: contact;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--light);
  padding: 20px;
  margin: auto;
  flex: 1 1 0;
}
.contact > h2 {
  color: var(--primary);
  margin: 10px 0;
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 4px solid var(--accent);
  padding: 20px;
}
.contact > form {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 40%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px#555;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 10px;
}
form > h3 {
  color: var(--primary);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}
form > input,
textarea {
  padding: 20px 30px;
  width: 90%;
  border-radius: 10px;
  outline: none;
  color: var(--primary);
  border: 2px solid var(--accent);
  font-weight: 500;
  font-size: 1em;
}
form > input[type="submit"] {
  font-weight: 600;
  color: var(--primary);
  background: transparent;
  width: 40%;
  cursor: pointer;
  transition: all 0.5s ease;
}
form > input[type="submit"]:hover {
  background: var(--primary);
  color: var(--accent);
}
/* Footer */
footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  padding: 20px;
  margin: auto;
  flex: 1 1 0;
  color: var(--light);
}
.foot {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: start;
  justify-content: center;
}
.footer-logo {
  max-width: 200px;
  min-width: 100px;
}
.quick-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quick-links > h3 {
  color: var(--accent);
}
.quick-links ul {
  display: flex;
  list-style: none;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  flex: 1 1 0;
  gap: 10px;
}
.quick-links > ul > li {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 0;
}
.quick-links > ul > li > a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 0;
}
.quick-links > ul > li > a:hover {
  color: var(--accent);
  transition: all 0.5s ease;
}
.quick-links li {
  list-style: none;
}
.quick-links li > a {
  text-decoration: none;
  color: white;
}
.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.follow > h3 {
  color: var(--accent);
}
.foot > .copy {
  align-items: flex-end;
}
@media (max-width: 768px) {
}
